%default-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $main-color;
  border-radius: 25px;
  color: $main-color;
  transition: .3s all;
  &:hover {
    color: $second-color;
    background: $main-color;
    letter-spacing: 1.5px;
  }
}

// Mixin to add fonts

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}