
@media (max-width: 1120px) {
  .pricing {

    &__flex {
      flex-wrap: wrap;
    }

    &__plan {
      flex-basis: 100%;
      padding: 0 20%;
    }
  }

  .sub-card {
    flex-basis: 48%;
  }
}

@media (max-width: 767px) {
  .pricing {
    padding: 60px 0;
  }
}

@media (max-width: 575px) {
  .sub-card {
    flex-basis: 100%;
    margin: 10px;
  }
}