@media (max-width: 991px) {
  .results {

    &__icon {

      &:after {
        width: 220%;
      }
    }
  }
}

@media (max-width: 767px) {
  .work {
    padding: 60px 0;
  }

  .results {
    flex-direction: column;
    margin-top: 30px;
    
    &__card {
      margin-top: 30px;
    }

    &__icon {

      &:after {
        display: none;
      }
    }
  }
}